src/main/mule/demo-github-actions.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="79cddd77-dcd8-44f9-8e71-f35143a08032" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="demo-github-actionsFlow" doc:id="d9a458f1-665a-4f50-88c2-65f62109ff60" >
		<http:listener doc:name="Listener" doc:id="f84a495c-e564-44bc-a3ee-a3e8525df25d" config-ref="HTTP_Listener_config" path="/demogithub"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="426734e0-2401-4376-98ea-c80e24957d76" />
		<logger level="INFO" doc:name="Logger" doc:id="3388e8d1-bec2-4a4c-9d5c-de9f7aa9d76b" message="#[attributes.headers]"/>
		<logger level="INFO" doc:name="Logger" doc:id="05c12d8b-10fd-443d-8bb2-e43fe9e5a9ea" message="Completed"/>
	</flow>
</mule>
